{
  "presets": [
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    ["import", {
      "libraryName": "antd",
      "style": true
    }],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }]
  ]
}